/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-weight: 400;
	line-height: 1;
	height: 100%;
	font-family: Roboto;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}

.container {
	max-width: 1480px;
	padding: 1.25rem;
	margin: 0px auto;
	width: 100%;
}

.main {
	display: flex;
	padding-bottom: 60px;
	flex: 1 1 auto;
}